<%- include("header.ejs") -%>

<div id="heading" class="box">
    <h1><%= title %></h1>
</div>

<div class="box">
    <% newItems.forEach(function(item) { %> 
        <form action="/delete" method="post">
            <div class="item">
                <!-- Pass the item's ID in the value attribute of the checkbox -->
                <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()">
                <p><%= item.name %></p>  <!-- Correctly close <p> tag -->
            </div>
        </form>
    <% }) %>

    <!-- Form to add a new item -->
    <form class="item" action="/todo" method="post"> <!-- Change the action to "/todo" -->
        <input type="text" name="newItems" placeholder="New Item" autocomplete="off" required> <!-- Add required attribute for better UX -->
        <button type="submit">+</button>
    </form>
</div>

<%- include("footer.ejs") -%>
